body{
    text-align: center;
    background-color: #0D0149;
    
}

h1,h2{
    opacity: 0.8;
    color: #9F8BFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}

h2{
    margin-top: 10px;
    display: inline;
}

table {
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgb(102, 102, 102);
    border: double;
    margin-bottom: 30px;
}
td{
    border: outset 1px rgb(62, 61, 61) ; 
    width: 30px;
    height: 30px;
    background-color: rgb(102, 102, 102);
    
}

.lvlsBtns{
    text-align: center;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 100px;
    border-radius: 4px;
    background-color: rgb(0, 179, 255);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.lvlsBtns:hover{
    background-color: greenyellow;
    opacity: 0.7;
    transition: 1s;
}

.cell:hover{
    background-color: orange;
    opacity: 0.5;
    transition: 1s;
}

.button-container{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.mine{
    background-image: url("../images/mine.png");
    background-size: cover;
    background-color: grey;
    cursor: not-allowed;
}



.revealed{
    background-color: rgb(84, 84, 84);
    border-collapse: collapse;
    border-color: rgb(84, 84, 84);
    padding: 1px;
    cursor: not-allowed;
    color: black;
    font-weight: bold;
}

.lives{
    width: 30px;
    opacity: 0.7;
    padding-left: 10px;
    padding-right: 10px;
}

.flag{
    cursor: not-allowed;
}

.smiley-btn{
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    background-color: #9F8BFF;
    cursor: pointer;
    width: 40px;
}

.hint {
   
    background-color: rgb(3, 177, 50);
    border: none;
    
}
.hint img{
    width: 50px;
    
}

.hint img:hover{
    background-color: green;
    opacity: 0.5;
    transition: 1s;
}

.score-container{
    opacity: 0.8;
    color: #9F8BFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.attemps-remaining{
    opacity: 0.8;
    color: #9F8BFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.safe-click{
    background-color: blue;
}

.safe-click-container{
    margin-top: 10px;
}

.safe-click-container button{
    background-color: rgb(0, 179, 255);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2px;
    height: 30px;
}

.safe-click-container button:hover{
    background-color: greenyellow;
    opacity: 0.7;
    transition: 1s;

}